$modal-background-color: #fff;
$modal-bg: rgba(52, 54, 66, 0.9);

.modal {
  background: $modal-bg;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: opacity 0.3s 0, visibility 0 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 21;

  &.is-visible {
    opacity: 1;
    transition: opacity 0.3s 0, visibility 0 0;
    visibility: visible;
  }

  &.modal-container {
    transform: translateY(0);
  }
}

.modal-container {
  background: $modal-background-color;
  border-radius: 0.25em;
  cursor: auto;
  margin: 3em auto 4em;
  padding: 30px;
  position: relative;
  width: 70%;
  z-index: 1000;
}

.modal-exit {
  right: -10px;
  top: -10px;
}
