$base-color: #335bcf;
$base-hover-color: rgb(50, 82, 177);
$tool-tip-color: rgb(20, 20, 20);

.rounded {
  &.text-blue-700 {
    color: $base-color;
  }
}

.rounded {
  &.border-blue-700 {
    border-color: $base-color;
  }
}

.rounded.hover\:bg-blue-700:hover {
  background: $base-color;
}

.rounded.hover\:text-blue-700:hover {
  color: $base-color;
}

.rounded {
  &.bg-blue-700 {
    background: $base-color;
  }
}

.rounded.hover\:bg-blue-800:hover {
  background: $base-hover-color;
}

.rounded {
  &.mr-2 {
    outline: none;
  }
}

input {
  &.input {
    outline: none;
  }
}

.thin {
  &.rounded {
    font-weight: lighter;
  }
}

.bg-transparent .text-blue-700 {
  color: $base-color;
}

.border-blue-700 {
  border-color: $base-color;
}

.hover\:bg-blue-700:hover {
  background: $base-color;
}

.hover\:text-blue-700:hover {
  color: $base-color;
}

.bg-blue-700 {
  background: $base-color;
}

.hover\:bg-blue-800:hover {
  background: $base-hover-color;
}

button,
input {
  outline: none;
}

.thin {
  font-weight: lighter;
}

.tooltip {
  &.container {
    animation: flip 1000ms linear normal infinite;
    background: $tool-tip-color;
    height: 20px;
    position: absolute;
    right: 10%;
    top: -10px;
    width: 20px;
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
